{% extends 'base.html.twig' %}

{% block title %}Modifier le quack{% endblock %}

{% block body %}
    <div class="mb-2">
        <h1 class="mb-2">Modifier le quack</h1>
    </div>

    {{ include('quack/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quack_index') }}" class="btn btn-info mb-3">Accueil</a>

    {{ include('quack/_delete_form.html.twig') }}
{% endblock %}
