{% extends 'base.html.twig' %}

{% block title %}Nouveau Quack{% endblock %}

{% block body %}
    <h1 class="mb-5">Création d'un nouveau post Quack</h1>

    <div class="mb-5 w-75">
        {{ include('quack/_form.html.twig') }}
    </div>

    <a href="{{ path('quack_index') }}" class="btn btn-info mb-5">Accueil</a>
{% endblock %}
