<h1>Mail de l'équipe quackNet ! </h1>

<p>
    Bonjour :{{ user.lastname }}, {{ user.firstname }}. <br />
    Vous faite parti des petits cannards !
    Nom de canard : {{ user.duckname }}
</p>

<a href="https://127.0.0.1:8000/quack" class="btn btn-outline-secondary">QuackNet</a>

